<IfModule mod_rewrite.c>

  Options +FollowSymlinks 
RewriteEngine on 
RewriteCond %{HTTP_HOST} ^domain\.eu 
RewriteCond %{REQUEST_URI} !^/domain/ 
RewriteRule ^(.*)$ /domain/$1 [L]
 
   
</IfModule>
